/* look, i knooooow i'm going against eric's advice by not using SASS and my CSS is very poorly formatted,
 * but the graphical end of web-design is honestly one of my strongest weaknesses, and this is a back-end
 * page anyway, so the styling isn't the important part :( */

#lwc-editors {
	width: 100%;
	margin: 0 auto;
}

#lwc-editors textarea {
    width: 100%;
    height: 300px;
}

#format-editor, #group-editor {
    padding-top: 1em;
    width: 750px;
	float: left;
}

#format-editor {
    margin-right: 10px;
}

#group-editor {
    margin-left: 10px;
}

#format-select, #group-select {
	width: 100%;
}

#email-subject {
    padding-top: 37em; /* please ignore this hackish fix */
}

#subject-textarea {
    width: 1000px;
}

#send-button {
    padding-top: 2em;
}
